search:
	default:
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter

	brandRepository: App\Repositories\Brand\BrandRepositoryExplorer(@Nette\Database\Explorer)
	brandEntityManager: App\EntityManagers\Brand\BrandEntityManagerExplorer(@Nette\Database\Explorer)
	brandService: App\Services\Brand\BrandService
	brandValidator: App\Validators\Brand\BrandValidator
